<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frozen.frozenadmin.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.frozen.frozenadmin.po.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
    <result column="keep_alive" property="keepAlive" jdbcType="BIT" />
    <result column="require_auth" property="requireAuth" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
		t.id,
		t.url,
		t.path,
		t.component,
		t.name,
		t.icon_cls,
		t.keep_alive,
		t.require_auth,
		t.parent_id,
		t.enabled,
		t.create_time,
		t.update_time
	</sql>
  <insert id="insert" parameterType="com.frozen.frozenadmin.po.Menu" >
    insert into menu (id, url, path,
      component, name, icon_cls,
      keep_alive, require_auth, parent_id,
      enabled, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
      #{component,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR},
      #{keepAlive,jdbcType=BIT}, #{requireAuth,jdbcType=BIT}, #{parentId,jdbcType=INTEGER},
      #{enabled,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update">
    UPDATE menu
    <set>
      <if test="pojo.id != null">`id` = #{pojo.id},</if>
      <if test="pojo.url != null">`url` = #{pojo.url},</if>
      <if test="pojo.path != null">`path` = #{pojo.path},</if>
      <if test="pojo.component != null">`component` = #{pojo.component},</if>
      <if test="pojo.name != null">`name` = #{pojo.name},</if>
      <if test="pojo.iconCls != null">`icon_cls` = #{pojo.iconCls},</if>
      <if test="pojo.keepAlive != null">`keep_alive` = #{pojo.keepAlive},</if>
      <if test="pojo.requireAuth != null">`require_auth` = #{pojo.requireAuth},</if>
      <if test="pojo.parentId != null">`parent_id` = #{pojo.parentId},</if>
      <if test="pojo.enabled != null">`enabled` = #{pojo.enabled},</if>
      `update_time` = now()
    </set>
    WHERE id = #{pojo.id}
  </update>
  <delete id="delete" >
		DELETE
		FROM menu
		WHERE id = #{id}
	</delete>

  <select id="getById" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM menu AS t
    WHERE t.id = #{id}
  </select>


  <select id="list" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM menu AS t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="pojo.url != null and pojo.url != ''">
        AND t.url = #{pojo.url}
      </if>
      <if test="pojo.name != null and pojo.name != ''">
        AND t.name like CONCAT('%',#{pojo.name},'%')
      </if>
    </trim>
    <!--<if test="rows != 0">-->
      <!--order by create_time desc limit #{start}, #{rows}-->
    <!--</if>-->
  </select>

  <select id="getAllMenu" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM menu AS t
  </select>

  <select id="listByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM menu AS t
    <where>
      t.id in
      <foreach collection="ids" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
  </select>
</mapper>