<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frozen.frozenadmin.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.frozen.frozenadmin.po.UserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="relo_id" property="reloId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List">
		t.id,
		t.user_id,
		t.relo_id,
		t.create_time,
		t.update_time
	</sql>

  <insert id="insert" parameterType="com.frozen.frozenadmin.po.UserRole" >
    insert into user_role (id, user_id, relo_id,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{reloId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <delete id="delete" >
      DELETE
      FROM user_role
      WHERE id = #{id}
  </delete>

  <select id="getByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_role AS t
    WHERE t.user_id = #{userId}
  </select>

  <select id="getByRoleId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_role AS t
    WHERE t.relo_id = #{roleId}
  </select>

  <delete id="deleteByUserId" >
      DELETE
      FROM user_role
      WHERE t.user_id = #{userId}
  </delete>

  <delete id="deleteByRoleId" >
      DELETE
      FROM user_role
      WHERE t.user_id = #{userId}
  </delete>
</mapper>